[Unit]
Description=XenServer Console
After=xapi.service plymouth-quit-wait.service move-kernel-messages.service
Wants=xapi.service

[Service]
Type=idle
ExecStart=/sbin/agetty --noissue --autologin root --login-program=/usr/bin/xsconsole tty1
Restart=always

[Install]
WantedBy=multi-user.target
